/* Custom Style 4 */
h1.title {
    background: #bd362f;
    color: #fff;
}
.btn-default {
    background: #bd362f;
    color: #fff;
    display: block;
    width: 200px;
    margin: 0 auto;
    border-color: #fff;
}
.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #bd362f;
    background-color: #FFFFFF;
    border-color: #bd362f;
}
.lightbox li {
    border-bottom: 2px solid #bd362f;
    font-size: 17px;
    padding-bottom: 10px;
}
.col-lg-6.panel.panel-default{
    padding: 0;
}
.panel-default {
    border-color: #bd362f;
}
.panel-default>.panel-heading {
    color: #FFF;
    background-color: #bd362f;
    border-color: #bd362f;
}
.navbar-inverse {
    background-color: #D9D9D9;
    border:none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #BD362F;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #642D30;
    font-weight: 700;
    background-color: transparent;
}


h1.title.hpp{
    margin-bottom:0;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: #E1D7C8;
    border-radius: 4px;
}
.breadcrumb>li {
    display: inline-block;
    width: 24%;
    text-align: center;
    padding: 15px;
}
.breadcrumb>li+li:before {
    content: ""; 
    padding:0;
}
.breadcrumb>.active {
    color: #FFF;
    background: #642D30;
    font-weight: 700;
}
.breadcrumb a{
    color: #222222;
}
.breadcrumb .badge {
    font-size: 16px;
    color: #FFF;
    background-color: #BD362F;
    margin-right: 10px;
}